__pycache__/
*.pyc
*.pyo
.env
.env.local
node_modules/
.next/
*.egg-info/
dist/
venv/
.venv/
*.db
*.sqlite3
openvpn/pki/
openvpn/clients/
*.key
*.crt
*.pem
*.ovpn
!requirements.txt
.DS_Store
__MACOSX/
infinity.zip
/infinity/
z7695613777863_10004fee3dff407e76a4925f145398f7.jpg
.env
*.zip
*:Zone.Identifier
